<div id="group-actions-{{ group_slug }}" class="group-card__actions group-card__actions--joined">
    <span class="group-card__joined-badge">Joined!</span>
    <a href="/groups/{{ group_slug }}" class="btn btn--ghost btn--sm">View group</a>
</div>
