{% extends 'layout.html.twig' %}

{% block title %}Kai — Find your people{% endblock %}

{% block content %}
<div class="container" style="margin: 2rem auto;">

<strong>Privacy Policy</strong>
<p>
    Alex White operates the website "Kai" at https://kaimeet.com. I take
    your privacy seriously. To better protect your privacy, I provide
    this privacy policy notice explaining the way your personal
    information is collected and used.
</p>
<p><strong>Collection of Routine Information</strong></p>
<p>
    This website track basic information about its visitors. This
    information includes, but is not limited to, IP addresses, browser
    details, timestamps and referring pages. None of this information
    can personally identify specific visitors to this website. The
    information is tracked for routine administration and maintenance
    purposes.
</p>
<p><strong>Cookies</strong></p>
<p>This website uses cookies for login and session management.</p>
<p><strong>Advertisement and Other Third Parties</strong></p>
<p>
    This site does not work with any advertising or third-party tracking
    providers.
</p>
<!---->
<p><strong>Security</strong></p>
<p>
    The security of your personal information is important to me, but
    remember that no method of transmission over the Internet, or method
    of electronic storage, is 100% secure. While I strive to use
    commercially acceptable means to protect your personal information,
    I cannot guarantee its absolute security.
</p>
<p><strong>Changes To This Privacy Policy</strong></p>
<p>
    This Privacy Policy is effective as of 2026-03-11 and will remain in
    effect except concerning any changes in its provisions in the
    future, which will be in effect immediately after being posted on
    this page. I reserve the right to update or change my Privacy Policy
    at any time and you should check this Privacy Policy periodically.
    If I make any material changes to this Privacy Policy, I will notify
    you either through the email address you have provided me or by
    placing a prominent notice on my website.
</p>
<p><strong>Contact Information</strong></p>
<p>
    For any questions or concerns regarding the privacy policy, please
    send me an email at
    <a href="mailto:hi@kaimeet.com">hi@kaimeet.com</a>.
</p>

</div>
{% endblock %}
